body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    justify-content: center;
}
.contanier{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}
.yazi1{
    color: white; 
    background-size: cover;
    border-radius:50px;
    font-size: 100px;
    letter-spacing: 10px;
    margin-bottom: 20px;
    animation:yazi-anim 1.5s ease;
    position: relative;
    background-color: black;
}
.yazi2{
    color: white;
    font-size:70px;
    letter-spacing: 9px;
    justify-content: center;
}
.yazi2 a{
    color: orange;
    text-decoration: none;
    justify-content: center;
}
.yazi3{
    color: white;
    justify-content: center;
    font-size: 40px;
    margin-top:10px;
    display: inline-block;
}

@keyframes yazi-anim{
    0%{
        margin-bottom:-90px;
    }
    30%{
        margin-bottom:-90px;
    }
    90%{
        margin-bottom: -90px;
    }
}